<!DOCTYPE html>

<html>
    <head>
        <title>Input Match Data</title>
        <link rel="stylesheet" type="text/css" href="/css/matchScouting.css">
    </head>

    <body>
        <h1>Input Team Number</h1>
        <h2>You are scouting on Match #{{matchNumber}}</em></h2>

        <form method="POST">

            <input style="display: none;" name="matchNumber" value="{{matchNumber}}">

            <select name="teamNumber">
                <option selected disabled>Select a Team</option>
                <option value="{{R1}}">Team {{R1}}</option>
                <option value="{{R2}}">Team {{R2}}</option>
                <option value="{{R3}}">Team {{R3}}</option>
                <option value="{{B1}}">Team {{B1}}</option>
                <option value="{{B2}}">Team {{B2}}</option>
                <option value="{{B3}}">Team {{B3}}</option>
            </select>

            <input type="submit" value="Submit">
        </form>
    </body>

</html>