<!DOCTYPE html>

<html>

<head>
    <title>Input Match Data</title>
    <link rel="stylesheet" type="text/css" href="/css/matchScouting.css">
    <script src="/js/toggle.js"></script>
</head>

<div id="background"></div>

<body>
    <h1>Input Match Data</h1>
    <h2>You are scouting on Match #{{matchNumber}} for Team {{teamNumber}} <em>{{teamName}}</em></h2>

    <form id="inputForm" method="POST">

        <div id="hatchInput">
            <h3>Hatch</h3>
            <input type="checkbox" name="hatchIntake" id="hatchIntake" checked> <label for="hatchIntake"
                class="firstLabel lastLabel needswide">Can intake &amp; hold?</label>
            <div class="outtakeLevels">
                <input type="button" value="Cargo Ship" id="hatch0" class="firstInput" checked>
                <!--
                --><input type="button" value="Rocket 1" id="hatch1">
                <!--
                --><input type="button" value="Rocket 2" id="hatch2">
                <!--
                --><input type="button" value="Rocket 3" id="hatch3" class="lastInput">
            </div>

            <div>
                <label class="labelinputs" id="h0">0</label>
                <label class="labelinputs" id="h1">0</label>
                <label class="labelinputs" id="h2">0</label>
                <label class="labelinputs" id="h3">0</label>
            </div>
        </div>
        <br />
        <div id="cargoInput">
            <h3>Cargo</h3>
            <input type="checkbox" name="cargoIntake" id="cargoIntake" checked> <label for="cargoIntake"
                class="firstLabel lastLabel needswide">Can intake &amp; hold?</label>
            <div class="outtakeLevels">
                <input type="button" value="Cargo Ship" id="cargo0" class="firstInput" checked>
                <!--
                --><input type="button" value="Rocket 1" id="cargo1">
                <!--
                --><input type="button" value="Rocket 2" id="cargo2">
                <!--
                --><input type="button" value="Rocket 3" id="cargo3" class="lastInput">
            </div>
            <div>
                <label class="labelinputs" id="c0">0</label>
                <label class="labelinputs" id="c1">0</label>
                <label class="labelinputs" id="c2">0</label>
                <label class="labelinputs" id="c3">0</label>
            </div>
        </div>

        <div id="climbInput">
            <h3>Ranking Points</h3>
            <input type="checkbox" name="rocket" id="rocket"> <label for="rocket"
                class="firstLabel lastLabel needswide">
                Completed Rocket?</label>
            <br />
            <input type="radio" name="climbLevel" value="0" id="climb0"><label class="firstLabel" for="climb0">No
                Climb</label>

            <!--
                        --><input type="radio" name="climbLevel" value="1" id="climb1" checked><label
                for="climb1">Level 1</label>
            <!--
                        --><input type="radio" name="climbLevel" value="2" id="climb2"><label for="climb2">Level
                2</label>
            <!--
                        --><input type="radio" name="climbLevel" value="3" id="climb3"><label class="lastLabel"
                for="climb3">Level
                3</label>

        </div>

        <textarea rows="4" form="inputForm" name="comments" maxlength="255"
            placeholder="Enter additional comments here..."></textarea>

        <input type="submit" value="Submit">
    </form>

    <button id="toggle" onclick="toggle()"></button>
</body>
<script src="/js/matchScoutingForm.js"></script>

</html>