@font-face {
    font-family: Monserrat;
    src: url(../fonts/monserrat/Montserrat-Regular.otf);
}

@font-face {
    font-family: Bladerunner;
    src: url(../fonts/bladerunner/bladerunner.ttf);
}

* {
    padding: 0;
    margin: 0;
    font-family: "Monserrat";
    text-align: center;
}

html {
    height: 100%;
}

body {
    padding: 2vh 2vw;
    height: calc(100%-4vh);
    background-image: linear-gradient(#FFAA00,#FF6600);
}

h1 {
    font-family: "Arial Black", sans-serif;
    color: black;
    font-size: 5vw;
    line-height: 0.75; 
}

.bladerunner {
    font-family: "Bladerunner";
    font-size: 8vw;
    word-spacing: -3vw;
}

p {
    font-size: 3vw;
}

img#clawLogo {
    height: 12vw;
    display: block;
    margin: auto;
    float: center;
}

h1 {
    font-family: "Arial Black", sans-serif;
    color: black;
    font-size: 5vw;
    line-height: 0.75; 
}

h2 {
    display: inline-block;
    padding: 0 5vw;
    font-family: "Arial Black", sans-serif;
    color: black;
    font-size: 4vw;
    margin-top: 1vh;
    margin-bottom: 1vh;
    border-bottom: black solid 1px;
}

@keyframes oddMarquee {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(-100%);
    }
  }
  
@keyframes evenMarquee {
    from {
        transform: translateX(0%);
    }
    to {
        transform: translateX(-200%);
    }
}

div#marqueeDiv {
    margin-top: 0;
    overflow: hidden;
    white-space: nowrap;
}

div#oddMarqueeDiv {
    display: inline-block;
    animation: oddMarquee 30s linear infinite;
}

div#evenMarqueeDiv {
    display: inline-block;
    animation: evenMarquee 30s linear infinite;
    animation-delay: 15s;
  }

img.sponsorImage {
    height: 8vh;
    margin-left: 2vw;
}

nav {
    padding: auto;
    margin-top: 1vh;
    text-align: center;
}

button.navButton {
    border: none;
    border-radius: 2.5vh 2.5vh 0 0;
    font-size: 2.5vw;
    width: 30%;
    height: 5vh;
    background-color: #DDDDDD;
}

div#mainDiv {
    border-radius: 2.5vh;
    background-color: #DDDDDD;
    padding: 30px;
    flex-grow: 1;
}

embed {
    height: 100%;
    width: 100%;
}

embed#techBinder, embed#interactiveCAD {
    display: none;
}