@font-face {
    font-family: Monserrat;
    src: url(../fonts/monserrat/Montserrat-Regular.otf);
}

@font-face {
    font-family: Monserrat;
    src: url(../fonts/monserrat/Montserrat-Bold.otf);
    font-weight: bold;
}

@font-face {
    font-family: Bladerunner;
    src: url(../fonts/bladerunner/bladerunner.ttf);
}

@font-face {
    font-family: Bebas;
    src: url(../fonts/bebas/BEBAS.ttf);
}


* {
    padding: 0;
    margin: 0;
    font-family: "Monserrat";
}

html, body {
    height: 100%;
    width: 100%;
}

body {
    padding: 0;
    display: flex;
    flex-flow: column;
}

header {
    background-color: black;
    flex: 0 0 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}

img#clawLogo {
    height: 7vh;
}

h1 {
    font-family: "Bebas";
    font-weight: bold;
    font-size: 8vw;
    margin-left: 2vw;
    color: #FF6600;
    display: inline;
    word-spacing: 1vw;
}

div#teamDescription {
    background-color: #FF6600;
    flex: 0 0 8%;
    display: flex;
    justify-content: center;
    align-items: center;
}

p {
    width: 95vw;
    text-align: center;
    font-size: 3.2vw;
}

iframe {
    border: none;
    flex: 1 1 auto;
}

div#sponsors {
    flex: 0 0 12%;
    display: flex;
    align-items: center;
    overflow: hidden;
    white-space: nowrap;
    background-color: #FF6600;
}

@keyframes oddMarquee {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(-100%);
    }
  }
  
@keyframes evenMarquee {
    from {
        transform: translateX(0%);
    }
    to {
        transform: translateX(-200%);
    }
}

div#oddMarqueeDiv {
    display: block;
    animation: oddMarquee 48s linear infinite;
}

div#evenMarqueeDiv {
    display: block;
    animation: evenMarquee 48s linear infinite;
    animation-delay: 24s;
}

img.sponsorImage {
    height: 8vh;
    margin-left: 1.5vw;
    filter: brightness(0);
}