<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ScoutingAppBootstrap</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="styles.css" />
</head>

<body style="text-align: center; margin-top: 6vh">
    <div class="page-header">
        <h1>Oh No! <small>404 Page Not Found</small></h1>
    </div>
    <iframe width="560" height="315" allowfullscreen frameborder="0" src="https://www.youtube.com/embed/Bh0CBM0QZTM?start=60&autoplay=1"
        style="width:70vw;height:70vh;margin-top:59px;"></iframe>
</body>

</html>