<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ScoutingAppBootstrap</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="styles.css" />
</head>

<body style="text-align: center; margin-top: 20vh">
    <div class="page-header">
        <h1>Oh No! <small>404 Page Not Found</small></h1>
    </div>
    <img width="500" height="315" src="/images/dozer.jpg" style="margin-top:20px;"></img>
</body>

</html>