<html class="gr__127_0_0_1">
<link type="text/css" id="dark-mode" rel="stylesheet" href="">
<style type="text/css" id="dark-mode-custom-style"></style>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ScoutingAppBootstrap</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body style="text-align: center;" data-gr-c-s-loaded="true">
    <h1 class="text-center" style="margin:14px;margin-bottom:45px;">Pit Dashboard</h1>
    <div class="table-responsive" style="text-align: center">
        <table>
            <tr>
                <td>
                    <table class="table" style="width:50vw">
                        <thead>
                            <tr></tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td style="width:199px;">
                                    <p style="height:19px;">Next Match</p>
                                </td>
                                <td style="width:50px;">
                                    <p style="height:19px;">Alliance Partners: {{AP1}}</p>
                                    <p>Opposing Teams: {{OT1}}</p>
                                    <p>Time Until Match Starts: {{T1}}</p>
                                </td>
                            </tr>
                            <tr>
                                <td style="width:199px;">
                                    <p style="height:19px;">Following Match</p>
                                </td>
                                <td style="width:50px;">
                                    <p style="height:19px;">Alliance Partners: {{AP2}}</p>
                                    <p>Opposing Teams: {{OT2}}</p>
                                    <p>Time Until Match Starts: {{T2}}</p>
                                </td>
                            </tr>
                            <tr>
                                <td>Battery Tracker</td>
                                <td>
                                    <form action="/pit/home" method="POST">
                                        Enter the number of the battery you just used, and then start charging it
                                        <br>
                                        <input type="text" name="state">
                                        <input type="submit" value="Submit">
                                    </form>
                                    <p style="height:19px;">Battery 1: good</p>
                                    <p style="height:19px;">Battery 2: good</p>
                                    <p style="height:19px;">Battery 3: good</p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
                <td style="padding-left:2vw"><iframe
                        src="https://player.twitch.tv/?&lt;channel, video, or collection&gt;" height="450" width="550"
                        scrolling="no" allowfullscreen="no">
                    </iframe></td>
            </tr>
        </table>

    </div>
    <header>
        <div class="page-header" style="padding-left:0;margin-left:25px;margin-right:25;"></div>
    </header>


    <span id="copylAddress" style="display: inline-block; position: absolute; left: -9999em;"></span>
</body><span class="gr__tooltip"><span class="gr__tooltip-content"></span><i class="gr__tooltip-logo"></i><span
        class="gr__triangle"></span></span>

</html>