<!DOCTYPE html>

<html>

<head>
	<title>Input Pit Data</title>
	<link rel="stylesheet" type="text/css" href="/css/matchScouting.css">
	<script src="/js/toggle.js"></script>
	<script src="/js/jquery.js"></script>
</head>

<div id="background"></div>

<body>
	<h1>Input Pit Data</em></h1>
	<input type="number" name="teamNumber" placeholder="Team Number" style="width:20vw;" pattern="^[0-9]*$">
	<input type="text" name="scoutname" placeholder="Your Name" style="width:20vw;">
	<form id="inputForm" method="POST">
		<div id="driveTrain">
			<h3>Drive Train</h3>
			<div class="outtakeLevels">
				<input type="radio" name="sandstorm" value="Swerve" id="SSidk" checked><label class="firstInput"
					for="SSidk">Swerve</label>
				<input type="radio" name="sandstorm" value="WCD" id="SSnone"><label for="SSnone">WCD</label>
				<input type="radio" name="sandstorm" value="Mechanum" id="SScamera"><label class="lastinput"
					for="SScamera">Mechanum</label>

				<input type="radio" class="firstinput" name="sandstorm" value="H-Drive" id="SScamera"><label
					for="SScamera" class="firstinput">H-Drive</label>
				<input type="radio" name="sandstorm" value="H-Drive" id="SScamera"><label for="SScamera">Omni
					Drive</label>
				<input type="radio" name="sandstorm" value="other" id="SSautonomous"><label class="lastInput"
					for="SSautonomous">Other</label>
			</div>
		</div>


		<div id="climbInput">
			<h3>Climb</h3>
			<div class="outtakeLevels">
				<input type="radio" name="climbLevel" value="No Climb" id="climb0" checked><label class="firstInput"
					for="climb0">No Climb</label>
				<input type="radio" name="climbLevel" value="Level 1" id="climb1"><label for="climb1">Level 1</label>
				<input type="radio" name="climbLevel" value="Level 2" id="climb2"><label for="climb2">Level 2</label>
				<input type="radio" name="climbLevel" value="Level 3" id="climb3"><label class="lastInput"
					for="climb3">Level 3</label>
			</div>
			<input type="number" name="climbTime" placeholder="Enter time (sec.)" style="width:20vw;"
				pattern="^[0-9]*$">
		</div>

		<textarea rows="5" form="inputForm" name="comments" maxlength="255"
			placeholder="Enter additional comments here..."></textarea>

		<input type="submit" value="Submit">
	</form>

	<button id="toggle" onclick="toggle()"></button>
</body>
<script src="/js/matchScoutingForm.js"></script>

</html>