<!DOCTYPE html>

<html>

<head>
	<title>Input Pit Data</title>
	<link rel="stylesheet" type="text/css" href="/css/matchScouting.css">
	<script src="/js/toggle.js"></script>
	<script src="/js/jquery.js"></script>
</head>

<div id="background"></div>

<body>
	<h1>Input Pit Data</em></h1>
	<input type="number" name="teamNumber" placeholder="Team Number" style="width:20vw;" pattern="^[0-9]*$">
	<input type="text" name="scoutname" placeholder="Your Name" style="width:20vw;">
	<form id="inputForm" method="POST">
		<div id="driveTrain">
			<h3>Drive Train</h3>
			<div class="outtakeLevels">
				<input type="radio" name="driveTrain" value="Swerve" id="Swerve" checked><label class="firstInput multiline" for="Swerve">Swerve</label>
				<input type="radio" name="driveTrain" value="WCD" id="WCD"><label class="multiline" for="WCD">WCD</label>
				<input type="radio" name="driveTrain" value="Mechanum" id="Mechanum"><label class="lastInput multiline" for="Mechanum">Mechanum</label>
				<br />
				<input type="radio" name="driveTrain" value="H-Drive" id="H-Drive"><label for="H-Drive" class="firstInput multiline">H-Drive</label>
				<input type="radio" name="driveTrain" value="OmniDrive" id="Omnidrive"><label class="multiline" for="Omnidrive">Omni Drive</label>
				<input type="radio" name="driveTrain" value="other" id="other"><label class="lastInput multiline" for="other">Other</label>
			</div>
		</div>

		<div id="hatchInput">
            <h3>Hatch <small><small><small>(Select all that apply)</small></small></small></h3>
            <div class="outtakeLevels">
                <input type="checkbox" name="cargoLevelC" id="hatch0"><label class="firstInput" for="hatch0">Cargo Station</label>
				<input type="checkbox" name="cargoLevel1" id="hatch1"><label for="hatch1">Level 1</label>
				<input type="checkbox" name="cargoLevel2" id="hatch2"><label for="hatch2">Level 2</label>
				<input type="checkbox" name="cargoLevel3" id="hatch3"><label class="lastInput" for="hatch3">Level 3</label>
            </div>
        </div>
        <br />
        <div id="cargoInput">
            <h3>Cargo <small><small><small>(Select all that apply)</small></small></small></h3>
            <div class="outtakeLevels">
                <input type="checkbox" name="cargoLevelC" id="cargo0"><label class="firstInput" for="cargo0">Cargo Station</label>
				<input type="checkbox" name="cargoLevel1" id="cargo1"><label for="cargo1">Level 1</label>
				<input type="checkbox" name="cargoLevel2" id="cargo2"><label for="cargo2">Level 2</label>
				<input type="checkbox" name="cargoLevel3" id="cargo3"><label class="lastInput" for="cargo3">Level 3</label>
            </div>
        </div>

		<div id="climbInput">
			<h3>Climb</h3>
			<div class="outtakeLevels">
				<input type="radio" name="climbLevel" value="No Climb" id="climb0" checked><label class="firstInput"
					for="climb0">No Climb</label>
				<input type="radio" name="climbLevel" value="Level 1" id="climb1"><label for="climb1">Level 1</label>
				<input type="radio" name="climbLevel" value="Level 2" id="climb2"><label for="climb2">Level 2</label>
				<input type="radio" name="climbLevel" value="Level 3" id="climb3"><label class="lastInput" for="climb3">Level 3</label>
			</div>

			<input type="checkbox" name="buddyClimb" id="buddyClimb"><label class="firstInput lastInput" for="buddyClimb">Buddy Climb?</label>
			<input type="number" name="climbTime" placeholder="Enter time (sec.)" style="width:20vw;"
				pattern="^[0-9]*$" style="display: inline;">
		</div>

		<textarea rows="5" form="inputForm" name="comments" maxlength="255"
			placeholder="Enter additional comments here..."></textarea>

		<input type="submit" value="Submit" disabled>
	</form>

	<button id="toggle" onclick="toggle()"></button>
</body>
<script src="/js/matchScoutingForm.js"></script>

</html>