<!DOCTYPE html>
    <head>
        <title>Team 972 Publicity Board</title>
        <meta charset = "utf-8" />
        <link rel="shortcut icon" type="image/png" href="images/clawLogoOrange.png">
        <link rel="stylesheet" type="text/css" href="css/publicityBoard.css">
    </head>

    <body>

        <div id="topDiv">
            <head>

                <div class="line"></div>
                <img id="clawLogo" src="images/clawLogoBlack.png" />
                <div class="line"></div>

                <h1>We are Team</h1>
                <span class="bladerunner">Iron Claw</span>

                <p><b>Iron Claw 972 is an FRC robotics team based in Los Gatos, CA. We strive to bring interest in STEM to our community.</b></p>
            
            </head>
            
            <div id = "sponsors">
                
                <h2>Our Sponsors</h2>

                <div id="marqueeDiv">
                    <div id="oddMarqueeDiv">
                        <img class="sponsorImage" src="images/sponsorLogos/newMilleniumFoundation.png" />
                        <img class="sponsorImage" src="images/sponsorLogos/aeronet.png" />
                        <img class="sponsorImage" src="images/sponsorLogos/campusInsuranceService.png" />
                        <img class="sponsorImage" src="images/sponsorLogos/google.png" />
                        <img class="sponsorImage" src="images/sponsorLogos/facilitron.png" />
                        <img class="sponsorImage" src="images/sponsorLogos/baeSystems.png" />
                        <img class="sponsorImage" src="images/sponsorLogos/rotaryClubLosGatos.png" />
                        <img class="sponsorImage" src="images/sponsorLogos/qualcomm.png" />
                        <img class="sponsorImage" src="images/sponsorLogos/lockheedMartin.png" />
                        <img class="sponsorImage" src="images/sponsorLogos/brRacing.png" />
                        <img class="sponsorImage" src="images/sponsorLogos/atlas.png" />
                        <img class="sponsorImage" src="images/sponsorLogos/intuitiveSurgical.png" />
                        <img class="sponsorImage" src="images/sponsorLogos/texasInstruments.png" />
                        <img class="sponsorImage" src="images/sponsorLogos/tempCFO.png" />
                        <img class="sponsorImage" src="images/sponsorLogos/nowForeverStudios.png" />

                    </div>

                    <div id="evenMarqueeDiv">
                        <img class="sponsorImage" src="images/sponsorLogos/newMilleniumFoundation.png" />
                        <img class="sponsorImage" src="images/sponsorLogos/aeronet.png" />
                        <img class="sponsorImage" src="images/sponsorLogos/campusInsuranceService.png" />
                        <img class="sponsorImage" src="images/sponsorLogos/google.png" />
                        <img class="sponsorImage" src="images/sponsorLogos/facilitron.png" />
                        <img class="sponsorImage" src="images/sponsorLogos/baeSystems.png" />
                        <img class="sponsorImage" src="images/sponsorLogos/rotaryClubLosGatos.png" />
                        <img class="sponsorImage" src="images/sponsorLogos/qualcomm.png" />
                        <img class="sponsorImage" src="images/sponsorLogos/lockheedMartin.png" />
                        <img class="sponsorImage" src="images/sponsorLogos/brRacing.png" />
                        <img class="sponsorImage" src="images/sponsorLogos/atlas.png" />
                        <img class="sponsorImage" src="images/sponsorLogos/intuitiveSurgical.png" />
                        <img class="sponsorImage" src="images/sponsorLogos/texasInstruments.png" />
                        <img class="sponsorImage" src="images/sponsorLogos/tempCFO.png" />
                        <img class="sponsorImage" src="images/sponsorLogos/nowForeverStudios.png" />
                    </div>
                </div> 
                
                <p>We thank these sponsors for making our robot possible!</p>
            </div>
        </div>

        <div id="tabDiv">
            <nav id="tabs">
                <button class="navButton" onclick="changeTab(this, 'techBinder')">TECH BINDER</button>
                <button id="selected" class="navButton"onclick="changeTab(this, 'interactiveCAD')">INTERACTIVE CAD</button>
                <button class="navButton" onclick="changeTab(this, 'businessPlan')">BUSINESS PLAN</button>
            </nav>

            <div id="iframeDiv">
                <script src="js/publicityBoard/resizeHandler.js"></script>

                <iframe id="techBinder" src="http://167.99.26.126/wp-content/uploads/2018/12/Business-Plan-2017-2018.pdf#toolbar=0&navpanes=0&scrollbar=0&view=FitB&messages=0"></iframe>
                <iframe id="interactiveCAD" src="https://viewer.autodesk.com/id/dXJuOmFkc2sub2JqZWN0czpvcy5vYmplY3Q6YTM2MHZpZXdlci90MTU0OTc3NTkyMzEzMF8wNjkyNTc3NjYwMzYxODk0N18xNTQ5Nzc1OTIzMzAzLm9iag?designtype=obj&amp;sheetId=NmM2MmZkNDItZmQxZi00MDIzLWFjMzAtN2Y3ZjU2NDdmYzkw"></iframe>
                <iframe id="businessPlan" src="http://167.99.26.126/wp-content/uploads/2018/12/Business-Plan-2017-2018.pdf#toolbar=0&navpanes=0&scrollbar=0&view=FitB&messages=0"></iframe>
            </div>
        </div>
    </body>

    <script src="js/publicityBoard/tabHandler.js"></script>
</html>