<!DOCTYPE html> <!--This is not nearly finished yet: Alexis-->
    <head>
        <title>Team 972 Publicity Board</title>
        <meta charset = "utf-8"></meta>
        <link rel="stylesheet" type="text/css" href="css/publicityBoard.css">
    </head>

    <body>

        <div class = "teamDescription">

            <h1>We are Team Iron Claw 972</h1>

            <p>Team 972 is a robotics team from the organization FIRST. We particpate in FRC, or FIRST Robotics Competition.</p>
        
        </div>
        
        <div class = "sponsors">
            
            <h2>Our Sponsors</h2>

            <p>Our 2018-2019 sponsors are listed below. We thank them for their help that allows the team to function.</p>

            <div id="marqueeDiv">
                <div id="oddMarqueeDiv">
                    <img class="sponsorImage" src="images/sponsorLogos/newMilleniumFoundation.png" />
                    <img class="sponsorImage" src="images/sponsorLogos/campusInsuranceService.gif" />
                    <img class="sponsorImage" src="images/sponsorLogos/google.png" />
                    <img class="sponsorImage" src="images/sponsorLogos/baeSystems.png" />
                    <img class="sponsorImage" src="images/sponsorLogos/rotaryClubLosGatos.png" />
                    <img class="sponsorImage" src="images/sponsorLogos/qualcomm.png" />
                    <img class="sponsorImage" src="images/sponsorLogos/lockheedMartin.png" />
                    <img class="sponsorImage" src="images/sponsorLogos/brRacing.png" />
                    <img class="sponsorImage" src="images/sponsorLogos/atlas.png" />
                    <img class="sponsorImage" src="images/sponsorLogos/intuitiveSurgical.png" />
                    <img class="sponsorImage" src="images/sponsorLogos/tempCFO.png" />
                    <img class="sponsorImage" src="images/sponsorLogos/nowForeverStudios.png" />
                </div>

                <div id="evenMarqueeDiv">
                    <img class="sponsorImage" src="images/sponsorLogos/newMilleniumFoundation.png" />
                    <img class="sponsorImage" src="images/sponsorLogos/campusInsuranceService.gif" />
                    <img class="sponsorImage" src="images/sponsorLogos/google.png" />
                    <img class="sponsorImage" src="images/sponsorLogos/baeSystems.png" />
                    <img class="sponsorImage" src="images/sponsorLogos/rotaryClubLosGatos.png" />
                    <img class="sponsorImage" src="images/sponsorLogos/qualcomm.png" />
                    <img class="sponsorImage" src="images/sponsorLogos/lockheedMartin.png" />
                    <img class="sponsorImage" src="images/sponsorLogos/brRacing.png" />
                    <img class="sponsorImage" src="images/sponsorLogos/atlas.png" />
                    <img class="sponsorImage" src="images/sponsorLogos/intuitiveSurgical.png" />
                    <img class="sponsorImage" src="images/sponsorLogos/tempCFO.png" />
                    <img class="sponsorImage" src="images/sponsorLogos/nowForeverStudios.png" />
                </div>
            </div> 
        </div>

        <nav>
            <button class="navButton">TECH BINDER</button>
            <button id="middleNavButton" class="navButton">INTERACTIVE CAD</button>
            <button class="navButton">BUSINESS PLAN</button>
        </nav>

        <div id="mainDiv">
            <embed id="businessPlan" src="http://167.99.26.126/wp-content/uploads/2018/12/Business-Plan-2017-2018.pdf#toolbar=0&navpanes=0&scrollbar=0&view=FitB&messages=0"> 
            
        </div>
        
        
        
        <div class = "interactiveCAD">

        </div>

    </body>

</html>